<%-include('partials/admin-header')-%>

<div class="container">
    <div class="row">
        <div class="col-9"><h2>ADMIN-HOME</h2></div>

        <a href="/admin/logout">logout</a>
        <div class="col-4"></div>
        <div class="col-6"></div>
      </div>
</div>

 <%-include('partials/admin-footer')-%>