<%-include('partials/admin-header')-%>

<button class="btn btn-primary mt-4 ms-2" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    Add coupon
  </button>
</p>
<div class="collapse" id="collapseExample">
  <div class="card card-body"  style="background-color: #c4c4c4;">
   <form action="/admin/coupon" method="post">
    <input type="text" name="name" placeholder="Coupon Name">
    <input type="number" name="discount" placeholder="Discount in %"><br><br>
    <label>Expiry Date</label><br>
    <input type="date" name="expirydate">
    <button class="btn btn-success">Add</button>
   </form>
  </div>
</div>


<%-include('partials/admin-footer')-%>