<%-include('partials/header')-%>

<div class="container">

    <div class="center-div bg-light " style="height: 80vh; width: 100%; display: flex; flex-direction: column; align-items: center;">
        <div class="my-auto">
            <span ><h1 class="text-muted">There are no Orders yet!.</h1></span>
            <div style="margin-left: 8rem;">
                <a class="btn btn-dark ms-5" href="/shop">SHOP NOW</a>
            </div>

        </div>
        
        
    </div>
</div>
<%-include('partials/footer')-%>