<%-include('partials/header')-%>

<div class="container center" style="color: black;" >
    <div class="col-12 card mb-4  bg-light  d-flex align-items-center  " style="background-color:#ffffff!important; height: 45vh; box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;">
        <div class="col-md-10 mt-4 mb-2">
            <div class="row d-flex flex-column text-center align-items-between mt-5" >
               
                <div class="col-12"> <img src="/images/order-placed.png" alt=""> </div>
                <div class="col-12 mt-3"><h2>ORDER PLACED!</h2></div>
                <div class="col-12 mt-2"><a href="/orders"> <button class="btn btn-dark">Show Orders</button></a></div>
                
               
        
            </div>
        </div>
    </div>
    
</div>
</body>
</html>

