<%-include('partials/header')-%>

<div class="container" style="height: 80vh;">
    <div class="grid" >

        <h2>ORDER PLACED!</h2>
       <a href="/orders"> <button class="btn btn-dark">Show Orders</button></a>

    </div>
</div>

<%-include('partials/footer')-%>