<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <!-- Font Awesome -->

  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>
  <link
href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.4.0/mdb.min.css"
rel="stylesheet"
/>
<link
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
rel="stylesheet"
/>
<link
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
rel="stylesheet"
/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- Google Fonts -->
<link
href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
rel="stylesheet"
/>
<!-- MDB -->
<link
href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.4.0/mdb.min.css"
rel="stylesheet"
/>
</head>
<body>
  <header class="bg-dark text-white " style="width: 100%; position: fixed; z-index: 1;" >
    <div class="row container-fluid">
      <div class="col-md-6 col-9 mr-auto p-3 pl-4 ">
          <h2><b>Nutra-Nation</b></h2>
        </div>
        <div class=" col-3 col-md-6 my-auto">
    
        <nav class="navbar navbar-expand-lg navbar-dark  ">
          
            <button class="navbar-toggler ms-auto " type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon text-white"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ms-auto p-2 ms-auto ">
                <li class="nav-item active">
                  <a class="nav-link text-white" href="#home-section">Home <span class="sr-only"></span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-white" href="#service-section">Signup</a>
  
                </li>
               
                  
                
              </ul>
              
            </div>
        </nav>
    </div>
  
      
  
    </div>
  </header>
  
  
  
  
  <section class="vh-100 bg-dark">
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
      <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12 col-md-9 col-lg-7 col-xl-6">
            <div class="card" style="border-radius: 15px;">
              <div class="card-body p-5">
                <h2 class="text-uppercase text-center mb-5">Create an account</h2>
                
                <form action="/submit" id="form" method="post">
  
                  <div class="form-outline mb-4">
                    <input type="text" id="form3Example1cg" class="form-control form-control-lg" placeholder=" Name" name="name"/>
                   
                  </div>
  
                  <div class="form-outline mb-4">
                    <input type="text"  class="form-control form-control-lg" placeholder=" username" name="username"/>
                   
                  </div>
  
                  <div class="form-outline mb-4">
                    <input type="email" class="form-control form-control-lg" placeholder=" Email"  name="email"/>
                    
                  </div>
  
                  <div class="form-outline mb-4">
                    <input type="number"  class="form-control form-control-lg" placeholder=" phone" name="phone"/>
                    
                  </div>
  
                  <div class="form-outline mb-4">
                    <input type="password" id="form3Example4cg" class="form-control form-control-lg" placeholder="password"  name="password"/>
                   
                  </div>
  
                  <div class="form-outline mb-4">
                    <input type="password" id="form3Example4cdg" class="form-control form-control-lg" placeholder="Cofirm password" name="confirm_password" hidden/>
                    
                  </div>
  
                
  
                  <div class="d-flex justify-content-center ">
                    <button type="submit" style="color: #ffffff;"
                      class="btn btn-dark btn-block btn-lg ">Register</button>
                  </div>
                  
  
                  <p class="text-center text-muted mt-5 mb-0">Have already an account? <a href="#!"
                      class="fw-bold text-body"><u>Login here</u></a></p>
  
                </form>
  
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <script>
    jQuery('#form').validate({
      rules:{
        name:'required',
        username:'required',
        email:'required',
        phone:'required',
        password:'required',
       
       
        
  
      },messages:{
        name:'Please enter your name',
        username:'Please Enter Your Username',
        email:'Please Enter Your Email address',
        phone:'Please Enter Your Phone number',
        password:'Please Enter Your Password',
        
        
       
  
  
      },submitHandler:function(form){
        form.submit();
      }
    })
    </script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script
type="text/javascript"
src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.4.0/mdb.min.js"
></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

   <!-- Option 1: Bootstrap Bundle with Popper -->
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
   <!-- MDB -->
  <script
  type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.4.0/mdb.min.js"
  ></script>
   <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
</body>
</html>